@font-face {
  /*подключение шрифтов на страницу*/
  font-family: "Comfortaa-Regular";
  src: url("../fonts/Comfortaa-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "mak-3";
  src: url("../fonts/mak-3.ttf");
  font-weight: normal;
}

* {
  /*все элементы*/
  padding: 0;
  /*чтобы убрать все стандартные отсупы, которые есть на страницк*/
  margin: 0;
}

body {
  font-family: "Comfortaa-Regular", sans-serif;
  font-weight: normal;
  color: #000000;
}

/*---------------------------- header -----------------------------*/

header {
  width: 100%;  /* Блок растянется на всю ширину экрана*/
  background-color: #FFFFFF;
  position: fixed;
  z-index: 1000;
  
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
}


.logo img {
  width: 161px;
  height: 44.73px;
  margin: 0;
}

.menu {
  width: 483px;
  margin-left: 178px;
}

.menu ul {
  list-style: none;
  /*чтобы убрать кружки у маркированного списка*/
  display: flex;
  /*чтобы пункты меню встали в одну строку*/
}

.menu-item {
  margin-right: 40px;
  /*отступы между элементами меню*/
}

.menu-item a {
  text-decoration: none;
  /*убираем подчёркивание ссылок*/
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.menu-tel {
  width: 163px;
  margin-left: 175px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

/*---------------------------- main -----------------------------*/

main {
  width: 1160px;
  margin: 0 auto;
  padding: 150px 0px;
  display: block;
}

article {
  float: left;
  margin: 0;
  width: 75%;
}

.cards{
  display: flex;
  padding: 0px 40px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  width: 360px;
  margin-bottom: 50px;
}

.card img {
  width: 360px;
  height: 220px;
  object-fit: cover;
}

.card-title {
  margin: 20px auto;
  text-align: center;
  font-family: 'mak-3';
  font-style: normal;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3em;
  color: #000000;
}

.card-info {
  text-align: justify;
  display: inline-block;
  padding: 0px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

time {
  text-align: justify;
  display: inline-block;
  padding: 0px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

aside {
  float: left;
  width: 25%;
}

aside h3 {
  margin: 20px auto;
  text-align: center;
  font-style: normal;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.3em;
  color: #000000;
}
aside p {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}


/*---------------------------- footer -----------------------------*/

footer {
  display: inline-block;
  width: 100%;
  background-color: #000000;
  background-size: cover; 
  background-position: center center;
  
}

.container_footer {
  height: 579px;
  max-width: 1160px; 
  margin: auto;
  padding-top: 65px;
}

.footer_logo {
  width: 200px;
  height: 55.57px;
  margin-bottom: 20.43px;
}

.footer_text {
  margin-bottom: 113px;
  font-family: "Comfortaa-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  display: flex;
  width: 1160px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.text_column {
  width: 360px;
}

.text_images img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-top: 58px;
  transition: 0.5s; /* Время эффекта */
}

.text_images img:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
  cursor: pointer; /*чтобы стрелка менялась на руку при наведении*/
}

.footer_text_bottom {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
}